* {
    font-family: 'Raleway', sans-serif;
}

a:link {
    color: #fff;
    text-decoration: none;
    display: block;
}

a:visited {
    color: #fff;
}

header {
    width: 100%;
    line-height: 40px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.menu {
    max-height: 40px;
    background-color: #000;
    color: #fff;
}

header h1 {
    float: left;
    font-size: 14px;
    padding: 0 0 0 5%;
}

.title h1 > span,
header h1 > span {
    color: rgb(41, 218, 176);
    font-weight: bold;
}

nav {
    float: right;
    padding: 0 5% 0 0;
    position: relative;
}

ol, ul {
    text-align: center;
    list-style: none;
}

li {
    width: 130px;
}

ol > li {
    float: left;
    font-weight: 700;
}

ol ul {
    display: none;
}

ul > li:first-child {
    margin: -5% auto 0 auto;
    border: 10px solid transparent;
    border-bottom-color: #000;
    width: 0;
    background-color: rgba(255, 255, 255, 0);
}

ul > li:nth-child(1n+2) {
    background-color: #000;
    line-height: 5px;
    padding: 15px 0 15px 0;
}

ol > li:nth-of-type(1):hover > ul,
ol > li:nth-of-type(2):hover > ul,
ol > li:nth-of-type(3):hover > ul {
    display:block;
}

ul > li:first-child:hover {
    background-color: rgba(255, 255, 255, 0);
    cursor: default;
}

ul > li:hover {
    background-color: rgba(41, 218, 176, 0.9);
    cursor: pointer;
}

.slide {
    background: linear-gradient(to bottom, white, rgba(175, 175, 175, .5));
    margin: 120px auto 0 auto;
    text-align: center;
}

.prevSlide,
.nextSlide {
    width: 10%;
    line-height: 341px;
    color: rgb(41, 218, 176);
    font-size: 50px;
    padding: 0 2% 0 2%;
}

.prevSlide:hover,
.nextSlide:hover {
    background: linear-gradient(to bottom, white, rgba(175, 175, 175, .5));
    cursor: pointer;
    color: #18c9a0;
}
.prevSlide:hover {
    box-shadow: 1px 4px 2px 0 rgba(175, 175, 175, .3);
}
.nextSlide:hover {
    box-shadow: -1px 4px 2px 0 rgba(175, 175, 175, .3);
}

.prevSlide {
    float: left;
    text-align: left;
}

.nextSlide {
    float: right;
    text-align: right;
}

.slide img {
    margin: 0 auto;
    display: block;
    max-width: 40%;
    height: auto;
    float: left;
}

.title {
    padding: 50px 50px 50px 0px;
    width: 40%;
    float: left;
}

.title h1 {
    font-size: 38px;
}

.title p {
    font-size: 15px;
    line-height: 28px;
    margin: 25px auto;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.75);
}

.title > button {
    font-size: 22px;
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 20px;
    color: #fff;
    outline: 0;
    margin: 0 auto;
    background-color: rgb(41, 218, 176);
}

.contact button:hover,
.title > button:hover {
    background-color: #18c9a0;
}

.gallery {
    background-color: #fff;
    padding: 40px 80px;
}

.gallery-info {
    width: 31.333%;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 30px;
}

.gallery-boxImg h1 {
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 7px solid rgb(41, 218, 176);
    width: 50%;
    font-weight: 700;
}

.gallery-info p {
    color: rgba(0, 0, 0, 0.50);
    margin: 15px 0 0 0;
    line-height: 22px;
    font-size: 15px;
}

.gallery-boxImg {
    position: relative;
    width: 31.333%;
    margin: 0 auto;
    margin: 0 3% 0 0;
    float: left;
    height: 225px;
}

.gallery-boxImg > div {
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.52);
}
.gallery-boxImg:nth-of-type(1) {
    background: url('../images/box1_img.jpg');
}

.gallery-boxImg:nth-of-type(2) {
    background: url('../images/box2_img.jpg');
}

.tariff {
    background-color: rgba(175, 175, 175, .1);
    padding: 40px 80px 80px 80px;
}

.contact h1,
.tariff h1 {
    width: 31.333%;
    color: rgba(0, 0, 0, 0.50);
    font-size: 22px;
    border-bottom: 7px solid rgb(41, 218, 176);
}

.tariff > div {
    position: relative;
    width: 31.333%;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    margin: 75px 3% 0 0;
    float: left;
    background-color: #fff;
}

.tariff > div:last-child {
    margin: 75px 0 0 0;
}

.tariff div > div {
    position: absolute;
    top: -8%;
    left: 41%;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-color: #fff;
}

.tariff div > div > div {
    position: absolute;
    top: 23%;
    left: 23%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 15px solid rgba(0, 0, 0, 0.25);
}

.tariff h2 {
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: rgb(41, 218, 176);
    margin: 30px auto;
    letter-spacing: -1px;
}

.tariff h3 {
    color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    text-align: right;
    width: 130px;
    height: 130px;
    font-size: 24px;
    margin: 30px auto;
    letter-spacing: -1px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 25px
}

.tariff p,
.tariff span,
.tariff h3 {
    font-weight: 700;
    letter-spacing: 0px;
}

.tariff h3 {
    font-size: 42px;
}

.tariff span:nth-of-type(1) {
    vertical-align: middle;
}

.tariff span:nth-of-type(2),
.tariff > div:nth-of-type(2) > h3 > span,
.tariff > div:nth-of-type(3) > h3 > span {
    font-size: 16px;
    vertical-align: top;
}

.tariff p {
    margin-top: 5px;
    font-size: 16px;
}

.tariff > div > p {
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    margin: 0px;
    letter-spacing: 0px;
}

.tariff > div > p:nth-of-type(odd) {
    background-color: rgba(117, 117, 117, 0.25);
    color: rgba(0, 0, 0, 0.4);
}

.tariff > div > p:nth-of-type(2n+2) {
    background-color: rgba(117, 117, 117, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.tariff > div > button {
    position: absolute;
    bottom: 20px;
    left: 34%;
    outline: 0;
    border-radius: 5px;
    background-color: rgb(41, 218, 176);
    color: #fff;
    border: none;
    padding: 5px 25px 5px 25px;
    font-size: 16px;
}

.tariff > div:hover h2 {
    color: #fff;
}

.tariff > div:hover > div,
.tariff > div:hover {
    border-color: rgb(41, 218, 176);
    background-color: rgb(41, 218, 176);
}

.tariff > div:hover > div > div {
    border-color: #fff;
}

.tariff > div:hover > button,
.tariff > div:hover > h3 {
    background-color: #fff;
    border-color: rgb(41, 218, 176);
    color: rgb(41, 218, 176);
}

.tariff > div:hover > p:nth-of-type(odd) {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.4);
}

.tariff > div:hover > p:nth-of-type(2n+2) {
    background-color: rgb(242, 242, 242);
    color: rgba(0, 0, 0, 0.5);
}

.contact {
    background-color: #fff;
    padding: 40px 80px;
}

.contact h1 {
    margin: 0 0 45px 0;
}

.contact div:first-child {
    width: 65%;
    height: auto;
    float: left;
    padding: 0 40px 0 0;
}

.contact input, textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    border: 1px solid rgb(41, 218, 176);
    outline: 0;
    font-size: 28px;
    padding: 15px;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 0 25px 0;
}

.contact textarea {
    resize: none;
    height: 200px;
}

.contact div:last-child {
    width: 35%;
    height: auto;
    float: left;
    padding: 0 10px 0 0;
}

.contact img {
    margin: 0 10px 30px 0px;
}

.contact .checkbox {
    position: relative;
}
.contact .checkbox p {
    margin-left: 60px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}
.contact .checkbox input {
    position: absolute;
    top: 0;
    left: 0%;
    height: 50px;
    width: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.contact .checkbox .boxmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 1px solid rgb(41, 218, 176);
    z-index: 0;
}

.checkbox input:hover ~ .boxmark {
    box-shadow: 0 0 10px 0 rgb(41, 218, 176);
}

.checkbox input:checked ~ .boxmark {
    background: url('../images/form_ok.jpg') no-repeat center;
}

.contact button {
    display: block;
    border: none;
    background-color: rgb(41, 218, 176);
    color: #fff;
    font-size: 28px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 10% 0 0 0;
    font-weight: bold;
}

.contact input:focus, textarea:focus {
    box-shadow: 0 0 10px 0 rgb(41, 218, 176);
}

.footer {
    background-color: #fff;
    padding: 40px 60px;
}

.footer > p {
    float: left;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding: 10px 0 10px 0;
    letter-spacing: 1px;
}

.footer > div {
    float: right;
}

.footer > div > p {
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px 0 80px;
    float: right;
    font-size: 22px;
}
