$font: 'Raleway', sans-serif;

$global-color: rgb(41, 218, 176);
$global-color2: rgb(0, 0, 0);

$font-color: rgb(255, 255, 255);
$font-color2: rgba(0, 0, 0, 0.75);
$font-color3: rgba(0, 0, 0, 0.4);

$border-color: rgba(0, 0, 0, 0.2);
$border-color2: rgba(0, 0, 0, 0.1);
$border-color3: rgba(227, 227, 227, 1);

$title-color: rgba(255, 255, 255, 0.52);

$bg-color: rgba(237, 237, 237, 0.7);
$bg-color2: rgb(251, 251, 251);
$bg-color3: rgba(0, 0, 0, 0.1);

$btn-hover-color: rgb(34, 172, 139);
